name: Test
on: [push]

jobs:
  test:
    name: Test
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: npm install
      - name: Unit Tests
        run: npm test:unit
      - name: E2E tests
        run: npm test:e2e --headless
